.Contact {
	max-width: 600px;
	margin: 0 auto;
}

.Contact__form-label {
	margin-bottom: 0;
}

.Contact__form-input {
	border: none;
	margin: 0;
	padding: 5px;
	width: 100%;
}

.Contact__form-input:focus {
	outline: 0;
}

.Contact__form-textarea {
	border: none;
	width: 100%;
	height: 200px;
	padding: 5px;
}

.Contact__form-textarea:focus {
	outline: 0;
}

.Contact__form-button {
	background: white;
	border: none;
	color: #2acece;
	font-size: 1.2rem;
	padding: 12px 20px;
	margin-top: 20px;
	width: 100%;
}

.Contact__form-button:hover {
	background: #3f5268;
	color: white;
	cursor: pointer;
}

@media (min-width: 560px) {
	.Contact__form-input {
		width: 50%;
	}

	.Contact__form-button {
		width: auto;
	}
}
